* {
	font-family: "Inter";
	color: #cdcdcd;
}

QMainWindow {
	border-image: url("./resources/background.jpg") 0 0 0 0 stretch stretch;
}

#headerFrame,
#loginFrame,
#signupFrame,
#collectionsFrame,
#taskFrame,
#accountFrame {
	background: #dd0d0d0d;
}

#loginFrame,
#signupFrame,
#collectionsFrame,
#taskFrame,
#accountFrame {
	border-radius: 10px;
}

#errorFrame {
	background: #aadc143c;
	color: #0d0d0d;
}

#heading {
	background: transparent;
	color: #cdcdcd;
}

/* login */

#loginCloseButton {
	background: transparent;
	border: none;
}

#loginUsernameLineEdit,
#loginPasswordLineEdit {
	background: transparent;
	border: none;
	color: #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
	margin: 10px;

}

#loginButton {
	border: none;
	background: #cccdcdcd;
	color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 10px;
}

#loginToSignupButton {
	background: transparent;
	color: #cdcdcd;
	border: none;
	text-decoration: underline;
}

/* signup */

#signupCloseButton {
	background: transparent;
	border: none;
}

#signupUsernameLineEdit,
#signupPasswordLineEdit,
#signupConfirmPasswordLineEdit {
	background: transparent;
	margin: 10px;
	border: none;
	color: #cdcdcd;
	border-bottom: 2px solid #cdcdcd;

}

#signupButton {
	border: none;
	background: #cccdcdcd;
	color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 10px;
}

#signupToLoginButton {
	background: transparent;
	color: #cdcdcd;
	border: none;
	text-decoration: underline;
}

/* collections */

#collectionsBackButton,
#collectionsAccountButton {
	background: transparent;
	border: none;
}

#collectionsLineEdit {
	background: transparent;
	border: none;
	color: #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
}

#collectionsAddButton,
#collectionsViewButton,
#collectionsDeleteButton {
	border: none;
	background: #cccdcdcd;
	color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 10px;

}

#collectionsList {
	background: transparent;
	border: none;
}

/* account */

#accountBackButton {
	background: transparent;
	border: none;
}

#accountCurrentPasswordLineEdit,
#accountNewPasswordLineEdit,
#accountConfirmPasswordLineEdit,
#accountDeletePasswordLineEdit {
	background: transparent;
	border: none;
	color: #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
	margin: 10px;

}

#accountChangePasswordButton,
#accountDeleteButton {
	border: none;
	background: #cccdcdcd;
	color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 10px;

}

/* tasks */

#taskBackButton {
	background: transparent;
	border: none;
}

#taskTitleLineEdit,
#taskBodyLineEdit {
	background: transparent;
	border: none;
	color: #cdcdcd;
	border-bottom: 2px solid #cdcdcd;
}

#taskReminderTime {
	background: transparent;
	border: 1px solid transparent;
}

#taskAddButton,
#taskDeleteButton,
#taskDeleteAllButton {
	border: none;
	background: #cccdcdcd;
	color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 10px;

}
